.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  padding: 12px 16px;
  min-height: 56px;

  &__edit {
    width: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__name {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 18px;
  }

  &__edit-btn {
    margin-left: 8px;
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 1023px) {
  .task-item {
    padding: 24px;
  }
}

// Desktop
@media (min-width: 1024px) {
}
