.task-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;

  &__item {
    width: 100%;
    display: block;
  }

  &__item:nth-child(even) {
    background: var(--secondary-color);
  }

  &__item:nth-child(odd) {
    background: var(--terciary-color);
  }

  &__no-tasks {
    padding: 24px;
    text-align: center;
    color: #888;
  }
}
