.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  padding: 12px 16px;
  width: 100%;

  &__input {
    flex: 1 1 100%;
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    gap: 16px;
    padding: 36px 24px;
  }
}

// Desktop
@media (min-width: 1024px) {
  .container {
    gap: 16px;
    padding: 24px 16px;
  }
}
